<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/main.css">
  <title>About</title>
</head>

<body>
  <header>
    <p> PixelatedBros </p>
    <nav>
      <ul class="nav-area">
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
    <a href="#" class="btn-area">UserName</a>
  </header>


  <div class="center-text">
    <h1> About Us!</h1>
    <p> We are a team of three dedicated and passionate gamers. We strive to offer the worst games you'll ever
      experience so that you may embrace the gamer rage that we all know exists within you. </p>
    <p>PS: We sell merch too, buy it now. </p>
  </div>

  <div class="container">
    <div class="box">
      <div class="imgBox"> <img src="https://i.pinimg.com/originals/9c/6a/17/9c6a174e72e4c70de7b13fca86063922.gif">
      </div>
      <div class="details">
        <div class="content">
          <h2> Chad </h2>
          <p> I am gay </p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox"> <img src="https://i.pinimg.com/originals/9c/6a/17/9c6a174e72e4c70de7b13fca86063922.gif">
      </div>
      <div class="details">
        <div class="content">
          <h2> Silver </h2>
          <p> No </p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox"> <img src="https://i.pinimg.com/originals/9c/6a/17/9c6a174e72e4c70de7b13fca86063922.gif">
      </div>
      <div class="details">
        <div class="content">
          <h2> Pixel </h2>
          <p> I'm also gay </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="site-width">
      <p class="footer-copyright">&copy; Copyright Chad</p>
      <div class="footer-links">
        <ul>
          <li> <a href="http://localhost:8080/">Home |</a> <a href="http://localhost:8080/about">About</a>
          </li>
          <li> <a href="http://localhost:8080/games">Games |</a> <a href="http://localhost:8080/cart">Cart</a>
          </li>
          <li> <a href="http://localhost:8080/Login.html">Login - Register</a> </li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>