<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/main.css">
  <title>cart</title>
</head>

  <div class="center-text">
    <p style="color:font-size:400px;"> 404 niks found yet xd </p>
    <p> <img src="https://miro.medium.com/max/1444/1*D-ZiKd0B00tdifaB2X3tKQ.gif"> </p>
  </div>

</body>

</html>