<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/main.css">
  <title>Home</title>
</head>

<body>
  <header>
    <p> PixelatedBros </p>
    <nav>
      <ul class="nav-area">
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
    <a href="#" class="btn-area">UserName</a>
  </header>
  <form action="/auth/home" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" ><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" ><br><br>
    <input type="submit" value="Submit">
  </form>

  <footer class="footer">
    <div class="site-width">
      <p class="footer-copyright">&copy; Copyright Chad</p>
      <div class="footer-links">
        <ul>
          <li> <a href="http://localhost:8080/">Home |</a> <a href="http://localhost:8080/about">About</a>
          </li>
          <li> <a href="http://localhost:8080/games">Games |</a> <a href="http://localhost:8080/cart">Cart</a>
          </li>
          <li> <a href="http://localhost:8080/Login.html">Login - Register</a> </li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>