<!DOCTYPE html>
<html>
<title> Paradox Watches</title>
<link rel="stylesheet" href="/main.css">
<style>
	a {text-decoration:none}
	body {font-size:20px;
		font-family:Gabriola
	}

</style>
<body  style="margin:0; color:white;"> 
	<header>
		<p> PixelatedBros </p>
		<nav>
			<ul class="nav-area">
				<li><a href="/">home</a></li>
				<li><a href="/products">Gallery</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cart">Cart</a></li>
			</ul>
		</nav>
		<a href="#" class="btn-area">UserName</a>
	</header>

	<table width="100%" background="woode.jpg">
		<tr>
			<th><img src="smartwatchmain.png" height="700" width="400"></th>
			<th style="font-family:Gabriola; font-size:20px;"> <h1 style="font-family:Gabriola; font-size:30px;"><b>Keep track of time and look stylish while doing so</b> </h1><p>Lets get you that watch </p> <p> <form action="https://www.watchshopping.com"> <input type="submit" value="Time to shop"></th>
			</tr>
		</table>
		<table width="100%"  height="30" style="background-color:white; color:black;">
			<th style="font-family:Gabriola; font-size:20px;">Best Sellers</th>
		</table>
		<table width="100%"  height="30" style="background-color:white; color:black;">
			<tr>
				<th><img src="smartwatch1.png" width="250" height="250"> </th>
				<th><img src="smartwatch2.png" width="200" height="200"> </th>
				<th><img src="smartwatch3.png" width="250" height="200"> </th>
			</tr>
			<tr>
				<td style="font-family:Gabriola; font-size:20px;"> R2000 </td>
				<td style="font-family:Gabriola; font-size:20px;">R2500</td>
				<td style="font-family:Gabriola; font-size:20px;">R3200</td>
			</tr>
			<tr>
				<th><img src="smartwatch4.png" width="250" height="200"> </th>
				<th><img src="smartwatch5.png" width="180" height="200"></th>
				<th><img src="smartwatch6.png" width="250" height="200"></th>
			</tr>
			<tr>
				<td style="font-family:Gabriola; font-size:20px;">R2500</td>
				<td style="font-family:Gabriola; font-size:20px;">R3000</td>
				<td style="font-family:Gabriola; font-size:20px;">R1800</td>
			</table>
			<div id="footer">
				<footer class="footer">
					<div class="site-width">
						<p class="footer-copyright">&copy; Copyright Chad</p>
						<div class="footer-links">
							<ul>
								<li> <a href="./home.html">Home |</a>  <a href="./about.html">About</a> </li>
								<li> <a href="./games.html">Games |</a>  <a href="./merch.html">Merch |</a> <a href="./cart.html">Cart</a> </li>
								<li> <a href="./login.html">Login - Register</a> </li>
							</ul>
						</div>
					</div>
				</footer>
			</div>

		</body>
		</html>
